/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey;  */
}

/* General Styles */
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    color: #4f4f4f;
    background-color: #FBFFFB;
}
button{
    border: 1px solid black;
    color: black;
    background-color: #fff;
    padding: 5px 10px;
    transition: 1s;
}
button:hover{
    border: 1px solid white;
    color: white;
    background-color: slategrey;
}
button a{
    text-decoration: none;
    color: inherit; /* This is telling the a to get the information from the button you are a part of*/
}
/* Header and Nav */
header{
    background-color: lightgrey;
    padding: 2%;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
}

/* Top Section */
.topsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.description{
    padding: 50px 20px 20px 20px;
    text-align: center;
}
.description button{
    margin: 3% 0 3% 0;
}
.description p{
    margin-left: 5%;
    margin-right: 5%;
}
/* Row Section */
.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
}
.portfolio-element{
    text-align: center;
}

/* Mid Section */
.midsection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

/* Footer */
footer{
    background-color: lightgrey;
    text-align: center;
    padding: 2%;
}

/* Media Queries Section Styles */

/* Tablet Section Styles - 800px */

@media (max-width: 800px) {
    
}

/* Phone Section Styles - 500px */

@media (max-width: 500px) {
    header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    button{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        margin: .7% 0;
    }

    .topsection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topsection div{
        width: 90%;
    }
    .description{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .row div{
        width: 40%;
    }
    
    
}